# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Model files
*.pkl

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Generated data (optional)
# data/*.csv